.skill-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid;
}
.skill-detail{
    display: flex;
    border-bottom: 1px solid;
    height: 100px;
    width: fit-content;
}
.skill-title, .project-title{
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px;
    width: 170px;
    height: 100%;
    border-right: 1px solid;
}
.skill-summary{
    height: fit-content;
    width: 80%;
    font-size: 1.04rem;
    font-family: sans-serif;
    font-weight: 400;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    padding: 10px;
    border-radius: 10px;
    cursor: not-allowed;
    display: flex;
    flex-wrap: wrap;
}
.rating{
    display: inline-block;
}
.skill-project{
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}
.project-name{
    height: fit-content;
    width: 80%;
    font-size: 1.04rem;
    font-family: sans-serif;
    font-weight: 400;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    padding: 10px;
    border-radius: 10px;
    cursor: not-allowed;
    display: flex;
    flex-wrap: wrap;
}