@media (max-width: 720px) {
  
  .room{
    padding: 5px;
  }
  .chat-room {
    height: 600px;
    width: 100%;
    border-radius: 10px;
}
  .chat-lable {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

@media (max-width: 500px) {
  .room {
    max-height: 500px;
    justify-content: center;
    padding: 0px;
    width: 100%;
  }
  .login-form-container .chat-login-form {
    transform: scale(0.73);
  }
  .chat-name {
    width: 90%;
    height: 60px;
  }
  .chat-form-submit {
    width: 90%;
    height: 60px;
  }
  .chat-room{
    height: 580px;
    width: 100vw;
    border-radius: 0;
  }
  .chat-header{
    border-radius: 0;
    padding: 5px;
  }
  .chat-message-container {
    border-radius: 0;
  }
  .chat-lable {
    font-size: 1rem;
    font-weight: 600;
  }
  .guidelines{
    padding: 5px 5px;
    width: 234px;
  }
}
