.navbar {
    width: 50%;
    min-width: 560px;
    border-bottom: 0.5px solid rgb(224, 224, 224);
    height: 80px;
    display: flex;
    margin: 0 25%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    position: absolute;
    left: 8%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .nav-logo {
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    transition: 0.1s ease;
    color: black;
}

.logo a {
    text-decoration: none;
}

.nav-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    font-size: 1rem;
}

li {
    list-style-type: none;
}

.nav-option {
    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    transition: 0.1s ease;
    color: black;
}

.contact {
    position: absolute;
    right: 8%;
    transition: 0.1s ease;
}

.nav-option:hover {
    color: orangered;
}