@media (max-width: 420px) {
  .room {
    max-height: 500px;
    justify-content: center;
    padding: 0px;
    width: 100%;
  }
  .login-form-container .chat-login-form {
    transform: scale(0.73);
  }
  .chat-name {
    width: 90%;
    height: 60px;
  }
  .chat-form-submit {
    width: 90%;
    height: 60px;
  }
  .chat-room{
    height: 91vh;
    width: 100vw;
    border-radius: 0;
  }
  .chat-header{
    border-radius: 0;
  }
  .chat-message-container {
    border-radius: 0;
  }
  .chat-lable {
    font-size: 1.5rem;
  }
  .guidelines{
    padding: 5px 5px;
    width: 234px;
  }
}
