@media (max-width:1280px){
    .contact-page{
        flex-direction: column;
    }
    .form-container{
        max-width: 80%;
    }
}
@media(max-width:720px){
    .contact-page {
        padding: 10px;
      }
      .form-container{
        max-width: 100%;
    }
    .contact-overview{
        transform: scale(0.9);
    } 
   
}