@media (max-width: 1150px) {
    .home {
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 620px) {
    .home {
        transform: scale(0.95);
        padding: 0;
        margin: 80px 0 0 0; 
        gap: 0;
        width: 100%;
    }

    .left {
        height: 730px;
        gap: 10px;
        justify-content: unset;
    }

    .profile-image {
        border-radius: 60px;
    }

    .left-overview {
        gap: 12px;
        flex-direction: column;
    }

    .info-discription {
        transform: scale(0.8);
        width: 570px;
        padding: 10px;
        font-size: 1.2rem;
    }

    .info {
        align-items: center;
    }
    .contact-btn{
        left: 0px;
        bottom: 35px;
    }

    .right {
        border-top: 0.3px solid rgb(202, 202, 202);
        border-radius: 0;
        transform: scale(0.88);
    }
}
@media (max-width:450px){

    .info-discription {
        transform: scale(0.8);
        width: 420px;
        font-size: 1.09rem;
        height: 300px;
        padding: 14px;
    }
    .right {
        transform: scale(0.8);
    }
}